html
	head
		title Problems
		link(rel="stylesheet", type="text/css", href="style.css")
	body
		div.container
			div.result
				each result in m
					div.result-item
						div.head #{result.file} - #{result.res.length} ocrrencies
						div.contents
							each items in result.res 
								div(title="matches #{items[0].matches[0]}")
									| matches #{items[0].level} #{items[0].type} at line #{items[0].at}
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js")
		script.
			$('.head').on('click', function(){
				var $el = $(this);

				if( !$el.parent().hasClass('active') ){
					$('.result-item.active').removeClass('active')
					$el.parent().addClass('active');
					return;
				}	

				if( $el.parent().hasClass('active') ){
					$el.parent().removeClass('active');
					return
				}	

					
			});