*{
  margin: 0 auto;
}


.login {
    text-align: center;
    /* margin: 15em 0; */
    background: #f9f9f9;
    overflow: visible;
    height: 100vh;
    position: relative;
    padding-top: 15em;
}
.btn.btn-login {
    background: red;
}
.btn.btn-login:hover {
    color: #fff;
}
.btn.btn-login {
    background: #F44336;
    padding: 1em 3em;
    border-radius: 3px;
    color: #ffffff;
}
:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
  overflow-y: hidden;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #4e5665;
  /* border-right: 1px solid #e7e7e7; */
  z-index: 9;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  /* border-bottom: 1px solid #4e5665; */
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  background: #4e5665;
  border-bottom: 1px solid #e7e7e700;
}
.side-menu .navbar-nav li a {
  padding: 10px 15px;
  background: rgba(160, 25, 25, 0) !important;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #4e5665;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
  background: #ffffff;
  color: #fff;
  border: nonw;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
  color: #323e54;
  /* border-bottom: 1px solid #333a48; */
  width: 100%;
  text-transform: uppercase;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  /* margin-left: 185px; */
  /* margin: 0; */
  background: #e9ebee;
  width: calc( 100% - 200px);
  margin-top: 3.5em;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: 200px;
  /* padding-left: 180px; */
  padding-top: 5em;
  min-height: 100vh;
  padding-bottom: 5em;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .container{
    position: relative;
    top: 5em;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
    width: 10%;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
    margin: 0;
    left: -6em;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #ffffff;
    height: 3.6em;
    border-right: 1px solid #888888;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    background: #566684 !important;
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #e7e7e7;
    background: #333a48 !important;
    border-right: none;
    margin: 0;
    font-weight: bold;
}
.main-head {
    pso: fi;
    position: fixed;
    top: 0;
    padding-left: 200px;
    background: white;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 3.6em;
    background: 0 1px 1px rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    lin-he: s;
    line-height: 3.5em;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.card{
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #e9ebee;
  /* font-size: 11px; */
  /* line-height: 1.28; */
  background: white;
  padding: 2em 1em;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.add-site {
    background: #4e5665;
    text-align: center;
}

.btn.btn-add-site {
    background: white;
    padding: .5em 3em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    border-radius: 2px;
}
.user {
    float: right;
    position: relative;
    top: -4.2em;
    right: 0;
    width: 10em;
}
.avatar img {
  width: 22%;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
  position: relative;
  right: -6em;
}
.btn.btn-verify {
    background: #03A9F4;
    padding: .5em 3em;
    position: relative;
    bottom: 1em;
    left: 1em;
    border-radius: 2px;
    top: 1em;
    left: 0;
    color: #18698e;
}

button.btn:hover {
    background: #2196F3;
    color: #fff;
}
input.form-control {
    box-shadow: none;
    border-width: 2px;
    padding: 1.5 0em;
}

input.form-control:focus {
    box-shadow: none;
}
.caption {
    display: inline-block;
    /* background: red; */
    padding: .5em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 11px;
    border-radius: 50%;
    border: 2px solid #03a9f4;
    color: #797979;
}

.caption:before {content: " ";position: absolute;background: #e6e6e6;height: .1em;width: 90%;left: 3em;top: 1em;}

.timeline {
    position: relative;
}
.timeline .content {
    padding: 0 3em;
}
.item-timeline {
    position: relative;
}
.message {
    background: #63d267;
    position: absolute;
    top: 4em;
    width: 25em;
    height: 1em;
    z-index: 0;
    right: 0;
    padding: 2em;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0px;
    right: 1em;
    color: #fff;
    display: none;
}
.content {
    position: relative;
}

.message i.ion {
    position: absolute;
    left: -.5em;
    font-size: 2em;
    top: -0.5em;
}

.message p {
    position: absolute;
    left: 1.5em;
    top: -10px;
}
.message.error {
    background: #F44336;
}
.save {
    border-top: 1px solid #e6e6e6;
    padding: 0em 0px 2em 0;
    position: relative;
    top: 2em;
}
.save a {
    margin: 0 1em 0 0;
    width: 11em;
    background: #03a9f4;
    border-radius: 2px;
    top: 1em;
    position: relative;
}

.save a:last-child {
    background: #cacaca;
    color: #fff;
}
.btn:active, .btn.active {
     background-image: none; 
     outline: 0; 
     -webkit-box-shadow: none; 
     box-shadow: none; 
    background: #0e9ad8 !important;
    color: #fff !important;
}
.sites-listing td i {
    /* color: #4CAF50; */
    font-size: 1.5em;
}

.sites-listing .is-active {
    width: 1%;
    text-align: center;
}
pre {
    overflow-x: hidden;
    overflow: hidden;
    white-space: normal;
    overflow-y: scroll;
    background: black;
    color: #a5a4a4;
    font-family: courier;
    border: 0;
    border-radius: 0;
}
.btn-sec {
    background: #03A9F4;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
}

.no-sites {
    text-align: center;
}
td.state {
    width: 1%;
    text-align: center;
}
td.active {
    width: 2%;
    text-align: center;
}
td.site-url {
    width: 50%;
}
.options a {
    /*background: whitesmoke;*/
    margin: 0 .2em;
    /* padding: 0.5em; */
    line-height: 10pc;
    color: #222;
    min-width: 2.5em;
    display: inline-grid;
    position: relative;
    display: inline-flex;
    /* width: 1em; */
    height: 2em;
}

td.options {
    text-align: right;
}
.sites-listing tbody>tr>td {
    vertical-align: middle;
}

td.options {}
th.options-hd {
    text-align: right;
}
.options a i {
    position: relative;
    top: 4px;
}
.otions.scan{


}
.options a.scan {
    background: #2196F3;
    color: #fff;
}

a.delete-site:hover {
    background: #F44336;
    color: #fff;
}
.dl-holder {
    width: 25%;
    display: inline-block;
    /* background: red; */
    pso: a;
    /* position: absolute; */
    text-align: left;
}

a.btn.dl-stux {
    display: block;
    left: 0;
    position: relative;
    width: 12em;
    background: #4CAF50;
    text-align: center;
    /* margin: auto; */
    color: #fff;
    position: relative;
    margin: 0;
}

.info-holder {
    width: 50%;
    display: inline-block;
    text-overflow: initial;
    white-space: normal;
    position: relative;
    top: -1.3em;
}
input#site_url {
    width: 50%;
}
pre#output {
    height: 15em;
}
pre#output {
    height: 15em;
}
.head-card h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #dedede;
}