html
	head
		title Problems
		link(rel="stylesheet", type="text/css", href="style.css")
	body
		div.container
			div.result
			pre #{JSON.stringify(m)}
			//- each threat, i in m
			//- 	pre #{JSON.stringify( threat ) }
				//- table
				//- 	tr
				//- 		th Type

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js")
		script.
			$('.head').on('click', function(){
				var $el = $(this);

				if( !$el.parent().hasClass('active') ){
					$('.result-item.active').removeClass('active')
					$el.parent().addClass('active');
					return;
				}	

				if( $el.parent().hasClass('active') ){
					$el.parent().removeClass('active');
					return
				}	

					
			});