
@import url(./tooltipster.css);
*{
  margin: 0 auto;
}


.login {
    text-align: center;
    margin: 15em 0;
}
.btn{
      background: #2196F3;
    color: #fff;
}
.btn.btn-login {
    background: red;
}
.btn.btn-login:hover {
    color: #fff;
}
.btn.btn-login {
    background: #F44336;
    padding: 1em 3em;
    border-radius: 3px;
    color: #7d1912;
}
:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
  overflow-y: hidden;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #4e5665;
  /* border-right: 1px solid #e7e7e7; */
  z-index: 9;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  /* border-bottom: 1px solid #4e5665; */
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
  /* border-bottom: 1px solid #222; */
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  background: #4e5665;
  border-bottom: 1px solid #e7e7e700;
  ap: a;
  padding: 0 1em;
  /* border-radius: 2px; */
}
.side-menu .navbar-nav li a {
  padding: 10px 0;
  background: rgba(160, 25, 25, 0) !important;
  /* border-radius: 2px; */
  color: #333a48;
  border-bottom: 1px solid #667084;
  color: #aab5ca;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #4e5665;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
  background: #ffffff;
  color: #fff;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
  color: #323e54;
  /* border-bottom: 1px solid #333a48; */
  width: 100%;
  text-transform: uppercase;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  /* margin-left: 185px; */
  /* margin: 0; */
  background: #e9ebee;
  width: calc( 100% - 200px);
  margin-top: 3.5em;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: 200px;
  /* padding-left: 180px; */
  padding-top: 5em;
  min-height: 100vh;
  padding-bottom: 5em;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .container{
    position: relative;
    top: 5em;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
    width: 10%;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
    margin: 0;
    left: -6em;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #ffffff;
    height: 3.6em;
    border-right: 1px solid #888888;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    /* background: #566684 !important; */
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #e7e7e7;
    /* background: #333a48 !important; */
    border-right: none;
    margin: 0;
    font-weight: bold;
}
.main-head {
    pso: fi;
    position: fixed;
    top: 0;
    padding-left: 200px;
    background: white;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 3.6em;
    background: 0 1px 1px rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    lin-he: s;
    line-height: 3.5em;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.card{
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #e9ebee;
  /* font-size: 11px; */
  /* line-height: 1.28; */
  background: white;
  padding: 2em 1em;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.add-site {
    background: #4e5665;
    text-align: center;
}

.btn.btn-add-site {
    background: white;
    padding: .5em 3em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    border-radius: 2px;
    color: #4e5665;
}
.user {
    /* float: right; */
    /* position: relative; */
    /* top: -4.2em; */
    /* right: 0; */
    width: 10em;
    position: absolute;
    right: 0;
    top: 0;
    right: 0em;
    /* background: #f3f3f3; */
    height: 3.6em;
    /* padding-left: 7em; */
}
.avatar img {
  width: 22%;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
  position: absolute;
  /* right: -6em; */
  left: 0em;
  top: .6em;
}
.btn.btn-verify {
    background: #03A9F4;
    padding: .5em 3em;
    position: relative;
    bottom: 1em;
    left: 1em;
    border-radius: 2px;
    top: 1em;
    left: 0;
    color: #18698e;
}

button.btn:hover {
    /* background: #2196F3; */
    /* color: #fff; */
}
input.form-control {
    box-shadow: none;
    border-width: 2px;
    padding: 1.5 0em;
}

input.form-control:focus {
    box-shadow: none;
}
.caption {
    display: inline-block;
    /* background: red; */
    padding: .5em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 11px;
    border-radius: 50%;
    border: 2px solid #03a9f4;
    color: #797979;
}

.caption:before {content: " ";position: absolute;background: #e6e6e6;height: .1em;width: 90%;left: 3em;top: 1em;}

.timeline {
    position: relative;
}
.timeline .content {
    padding: 0 3em;
}
.item-timeline {
    position: relative;
}
.message {
    background: #63d267;
    position: fixed;
    top: 4em;
    width: 25em;
    height: 1em;
    z-index: 0;
    right: 0;
    padding: 2em;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0px;
    right: 1em;
    color: #fff;
    display: none;
}
.content {
    position: relative;
}

.message i.ion {
    position: absolute;
    left: -.5em;
    font-size: 2em;
    top: -0.5em;
}

.message p {
    position: absolute;
    left: 1.5em;
    top: -10px;
}
.message.error {
    background: #F44336;
}
.save {
    border-top: 1px solid #e6e6e6;
    padding: 0em 0px 2em 0;
    position: relative;
    top: 2em;
}
.save a {
    margin: 0 1em 0 0;
    width: 11em;
    background: #03a9f4;
    border-radius: 2px;
    top: 1em;
    position: relative;
}

.save a:last-child {
    background: #cacaca;
    color: #fff;
}
.btn:active, .btn.active {
     background-image: none; 
     outline: 0; 
     -webkit-box-shadow: none; 
     box-shadow: none; 
    background: #0e9ad8 !important;
    color: #fff !important;
}
.sites-listing td i {
    /* color: #4CAF50; */
    font-size: 1.5em;
}

.sites-listing .is-active {
    width: 1%;
    text-align: center;
}
pre {
    overflow-x: hidden;
    overflow: hidden;
    white-space: normal;
    overflow-y: scroll;
    background: black;
    color: #a5a4a4;
    font-family: courier;
    border: 0;
    border-radius: 0;
}
.btn-sec {
    background: #03A9F4;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
}

.no-sites {
    text-align: center;
}
td.state {
    width: 1%;
    text-align: center;
}
td.active {
    width: 2%;
    text-align: center;
}
td.site-url {
    width: 50%;
}
.options a {
    /*background: whitesmoke;*/
    margin: 0 .2em;
    /* padding: 0.5em; */
    line-height: 10pc;
    color: #222;
    min-width: 2.5em;
    display: inline-grid;
    position: relative;
    display: inline-flex;
    /* width: 1em; */
    height: 2em;
    /* border: 1px solid #2196f3; */
    border-radius: 1px;
    color: #2196F3;
}

td.options {
    text-align: right;
}
.sites-listing tbody>tr>td {
    vertical-align: middle;
}
a.btn:hover {
    background: #1470b9;
    color: #fff;
}
td.options {}
th.options-hd {
    text-align: right;
}
.options a i {
    position: relative;
    top: 4px;
}

.options a.scan {
    background: #2196F3;
    color: #fff;
}

a.delete-site:hover {
    background: #F44336;
    color: #fff;
}
.dl-holder {
    width: 25%;
    display: inline-block;
    /* background: red; */
    pso: a;
    /* position: absolute; */
    text-align: left;
}

a.btn.dl-stux {
    display: block;
    left: 0;
    position: relative;
    width: 12em;
    background: #4CAF50;
    text-align: center;
    /* margin: auto; */
    color: #fff;
    position: relative;
    margin: 0;
}

.info-holder {
    width: 50%;
    display: inline-block;
    text-overflow: initial;
    white-space: normal;
    position: relative;
    top: -1.3em;
}
input#site_url {
    width: 50%;
}
pre#output {
    height: 15em;
}
pre#output {
    height: 15em;
}
.s-hide{
  display: none !important;
}
.waiting {
    /* background: red; */
    width: 100%;
    height: 1em;
}

.bar {
    border: 1px solid #e1e3e6;
    height: .7em;
    border-radius: 1em;
    pso: pos;
    position: relative;
    overflow: hidden;
}

.progress-fill {
    background: #03A9F4;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    transition: all .3s ease-in-out;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.done{
  -webkit-animation: pulse 2s infinite forwards;
  animation: pulse 2s infinite forwards;
  width: 100%;
}
@-webkit-keyframes pulse {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes pulse {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.waiting {}

.progress-fill.midle {
    background: #FF9800;
}

.progress-fill.vuln {
    background: #F44336;
}
.head-card h1 {
    color: #dddddd;
    border-bottom: 1px solid;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0;
    margin: 0em 0em .5em 0em;
}
.user a.name {
    position: relative;
    left: 4em;
    color: #a0a0a0;
    text-transform: none;
    font-weight: bold;
}
.open .dropdown-menu {
    position: relative;
    left: -2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
}
ul.dropdown-menu.site-menu {
    pso: a;
    position: absolute;
    top: 3em;
    left: -6em;
}
.btn {
    border-radius: 2px;
}
.pager {
    text-align: left;
    /* position: absolute; */
    color: oldlace;
    bottom: 0;
}



.pager .page-number {
    background: #2196F3;
    padding: .5em;
    margin: 0 .2em 0 0;
    height: 2.5em;
    width: 2.5em;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.pager .page-number.active {
    font-weight: bold;
    background: #42739a;
}
.table-holder {
    /* background: red; */
    min-height: 35em;
    overflow: hidden;
    position: relative;
}
@media (max-width: 768px){
    .container p.default-title{
      display: none;
    }
    .m-title {
      z-index: 99;
      position: absolute;
      display: block;
      width: 100%;
      left: 8em;
      top: 1;
      top: 1em;
      font-weight: 00;
    }

    .m-title.container p {        
      color: #bdb9b9;
    }
  .m-title p {
      /* background: rebeccapurple; */
      color: #d4d1d1;
      left: 1em;
      position: relative;
      top: .1em;
  }
}

a.btn.btn-login:active {
    background: #d62f23 !important;
}
a.btn.btn-login{
  transition: all .3s ease-in-out;
}
a.btn.btn-login:hover {
    color: #80262d;
    background: #ea4135;
}
a.scan.disconnected-scan {
    background: transparent;
    /* font-size: 90%; */
    color: #FF5722;
    text-align: center;
}
.done .progress-fill {
    width: 100% !important;
}

.lbutton {
  background: #ffffff;
  border-radius: 0.1875rem;
  text-transform: uppercase;
  color: #F44336;
  height: 3.125rem;
  line-height: 3.125rem;
  width: 12.5rem;
  text-align: center;
  letter-spacing: 0.125rem;
  padding: 1.5em 2.5em;
}
.lbutton:hover {
  background-color: #e06461;
  cursor: pointer;
  /* text-transform: none; */
  color: #fff;
  text-decoration: none;
}
.lbutton:active {
  background-color: #dd5754;
}
.m-title {
    display: none;
}
.nav-tabs i {
    position: absolute;
    left: 0;
    top: 13px;
}
a.lbutton:focus {
    /* background: rebeccapurple; */
    text-decoration: none !important;
    color: #fff;
    box-shadow: -1px 0px -2px #222 inset;
}
.brand {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2em;
}

.brand span {
    text-transform: uppercase;
    color: #d0d0d0;
    font-size: 27pt;
}
body.login-screen {
    background: #e9ebee;
}
.brand small {
    display: block;
    color: #c1c1c1;
}
.profile-avatar img {
    border-radius: 50%;
    margin-bottom: 1em;
}

.user-name {
    font-weight: bold;
}
pre.key-raw {
    background: #d4d4d4;
    color: #4a4a4a;
    font-weight: bold;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}
.copy {
    position: absolute;
    right: 0;
    top: .2em;
    background: #4CAF50;
    right: .2em;
    padding: .5em;
    font-family: arial;
    font-weight: 100;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    display: none;
}

pre.key-raw:hover > .copy {
    dos: d;
    display: block;
}
.copy:before {content: "copiar";}
.user-meta div span i {
    color: #8e8e8e;
    font-size: 1.3em;
    float: left;
}

.user-meta div span {
    /* color: red; */
    font-size: 1em;
    position: relative;
    /* position: absolute; */
    float: right;
    display: block;
    width: 100%;
    padding: .4em 0;
    border-bottom: 1px solid #f3f3f3;
}

.user-meta div {
    /* position: relative; */
}

.user-counter, .user-info {
    position: absolute;
    right: 0;
    display: inline-block;
    font-weight: bold;
}
.user-info {
    font-weight: 100;
}
.user-counter {
    background: #2196F3;
    padding: .1em .5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    /* top: 1px; */
    line-height: 18px;
    top: 5px;
    font-weight: 100;
    color: #fff;
    font-size: 90%;
}
a.blacklist-scan.btn {
    background: #2196F3;
    color: #fff;
}
a.btn-view-internal {
    padding: .5em 1em;
    background: red;
    background: #e4e4e4;
    border-radius: 2px;
}
td.danger-file {
    font-weight: bold;
    color: red;
}
.breadcrumbs {
    background: white;
    padding: 1em;
    margin: 0em 0 1em 0;
    border-radius: 3px;
}
input.err {
    border-color: red;
}
.regex-view .btn {
    width: 100%;
    display: block;
    text-align: left;
    background: #9E9E9E;
    top: 1.5em;
    position: relative;
    margin: .1em 0;
    color: #fff;
}

.regex-view .col-sm-10 {
    margin: 0;
    padding: 0;
}

.regex-view .btn:hover {
    background: #5f5e5e;
}
a.btn.save-settings {
    /* padding: 1em; */
    margin: 1em 0;
}
.regex-view input{
  display: none;
}
.value-item {
    background: #d4d4d4;
    padding: 6px 12px;
    border-radius: 2px;
    color: #6b6b6b;
    cursor: text;
    border: 2px solid #d4d4d4;
}
.regex-view {
    /* background: red; */
    overflow: hidden;
    margin: 1em 0;
    min-height: 9em;
    padding: 1em 0;
    border-bottom: 1px solid #dedede;
}

.regex-view:first-child {
    /* background: red; */
    border-top: 1px solid #dedede;
}

.regex-view .col-sm-12 {
    margin: 0;
    padding: 0;
}
.editing input.form-control {
    display: block;
}

.editing .value-item {
    display: none;
}

.regex-save,
.regex-cancel{
  display: none !important;
}
.editing .regex-save,
.editing .regex-cancel{
  display: inline-block !important;
}
.editing .delete-regex,
.editing .change-regex{
  display: none !important;
}
.editing .edit-regex{
  display: none !important;
}
a.btn.regex-cancel {
    background: #c3c3c3;
}

a.btn.regex-save {
    background: #2196F3;
}
a.btn.delete-regex {
    background: #F44336;
}

.col-sm-10 a {}

form#regex-form .col-sm-10 {
    padding: 0;
}
.regex-view .btn {
    width: 5em;
    display: inline-block;
    margin: 1em .5em 1.5em 0;
    background: #2196f3;
}
.value-item:hover {
    border: 2px solid #2196F3;
    color: #353535;
}
div#home .col-sm-12 {
    padding: 0;
}
.detail {
    background: rgba(0, 0, 0, 0.77);
    position: fixed;
    /* border: 1px solid #222; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}
.type {
    font-weight: bold;
    margin: 1em 0 0 0;
}
.report-yeld {
    background: #fff;
    width: 50%;
    margin: 3% auto;
    padding: 1em;
    border-radius: 2px;
    max-height: 44em;
    height: 44em;
    overflow-y: scroll;
}
.regex {
    background: #000;
    color: #e20f00;
    font-family: courier new;
    padding: 1em;
    border-radius: 2px;
}
.report-yeld {
    color: black;
    padding-bottom: 10em;
}
.matches {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    font-style: italic;
    font-weight: 100;
}
button.btn.confirm-delete {
    background: #F44336;
}