extends layout

block content
  include sidebar.jade
  .container-fluid
    .main-head
      .container
        p Adicionar site
      include profile-top.jade
    .side-body
      .container
        .card
          .timeline.container
            .one.item-timeline
              .caption 1
              .content
                div.dl-holder
                  a.btn.dl-stux(href="/client/#{hash}") Download client
                  small (filezile 322KB)
                div.info-holder
                  p Faça o download do arquivo
                    strong  stux-#{hash}.php 
                    | e faça upload em seu servidor. Então basta verificar a conexão.
            .one.item-timeline
              .caption 2
              .content
                p Verifique a conexão entre nossos servidores e seu site.
                    
                form(class="add-site-from")
                  input(type="text", id="site_url", class="form-control", placeholder="Url do site que deseja adicionar ex. http://exemplo.com/")
                  input(type="hidden", id="site_hash", value="#{hash}")
                  a.btn.btn-verify(href="javascript:;") Verificar
                div.save(style="display:none")
                  form(class="save-site")
                    input(type="hidden", id="user_id", value="#{user.id}")
                  a.btn.btn-save(href="javascript:;") Salvar
                  a.btn.btn-back(href="javascript:;") Cancelar