doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
	if path == '/login'
		body.login-screen
	else
		body
	block content
	if user
		script.
			window.STUXNET = {}
			STUXNET.WS = {
				url: 'security.apiki.com',
				port: '3000'
			}
		if path == '/' && sites
			- var ripedSites = sites; ripedSites.forEach(function(site){ delete site.scans });
			script.
				STUXNET.sites =!{JSON.stringify(ripedSites)}
		div.message
			.content
				i.ion
				p Text text text
		script(src="/stux/socket.io.js")
		if !process.env.NODE_ENV ||	process.env.NODE_ENV == 'production'
			script(src='/javascripts/stux.min.js')
		else
			script(src='/javascripts/stux.js')

