.user 
  .avatar(data-toggle="dropdown")
    a(href="#").name #{user.name}
    img(src="#{user.profile_picture.replace('?sz=50', '')}")
  ul(class="dropdown-menu pull-left", aria-labelledby="dropdownMenuDivider")
    li
      a(href='/me') Perfil
    li(role="separator", class="divider")
    //- div #{user.level}
    li
      a(href='/') Sites
    li
      a(href='/analysis') Analises
    li
      a(href='/blacklist') Blacklist
    li(role="separator", class="divider")
    if user.level!=0  
      li
        a(href='/settings') Admin
      li(role="separator", class="divider")

    li
      a(href='/logout') Sair