.row
  .side-menu
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        .brand-wrapper
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            |                 
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
          .brand-name-wrapper
            a.navbar-brand(href='#')
              | Stux
      .side-menu-container
      
        ul.nav.navbar-nav


          if path == '/'
            li.active
              a(href='/')
                |  Sites 
          else
            li
              a(href='/')
                |  Sites  

          if path == '/analysis'
            li.active
              a(href='/analysis')
                |  Análises 
          else
            li
              a(href='/analysis')
                |  Análises 
          if path == '/blacklist'
            li.active
              a(href='/blacklist')
                |  Blacklist 
          else
            li
              a(href='/blacklist')
                |  Blacklist                                   
        div.add-site
          a.btn.btn-add-site(href="/site/add")
           | Adicionar site