.container-fluid
  .main-head
    .container
      p.default-title  Admin 
    include ../profile-top.jade
  div.m-title
    p Site
  .side-body
    .container
      .card
        .row
          .col-sm-12
            .head-card
              //- h1 Blacklist
            div
              // Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                  a(href='#home', aria-controls='home', role='tab', data-toggle='tab') 
                    //- i.ion.ion-ios-world-outline
                    |  Padrões
                li(role='presentation')
                  a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') 
                    //- i.ion.ion-key
                    |  Geral
                //- li(role='presentation')
                //-   a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
                //- li(role='presentation')
                //-   a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
              // Tab panes
              .tab-content 
                #home.tab-pane.active(role='tabpanel')
                  
                  .col-sm-12
                    p Gerencie seus padrões e descreva cada uma da maneira que for mais útil.
                    p
                      strong Nota
                      |  Você está operando a parte mais sensível da aplicação, seja prudente. Padrões abrangetes demais podem levar a comportamentos inesperados e pouco previsíveis, diminuindo/eliminando a eficiência e precisão da análise. 
                    p Npão inclua 
                      i  flags
                      |   ou barras.
                    a.btn.add-regex
                      | Adicionar regex

                  //- div #{JSON.stringify(settings)}
                  .col-sm-12

                    form( id="regex-form" )
                      each reg in JSON.parse(regex[0].value)
                        div.regex-view
                          .col-sm-12                    
                            .col-sm-12    

                              div.regex-item
                                label Descrição
                                input(type="text", value="#{reg.type}" name="reg[][type]" class="form-control")
                                div.value-item.desc
                                  | #{reg.type}
                                label Regex
                                input(type="text", value="#{reg.pattern}" name="reg[][pattern]" class="form-control")
                                div.value-item.val
                                  | #{reg.pattern}
                            //- .col-sm-2
                            .col-sm-12    
                            
                              a.btn(href="javascript:;" class="edit-regex") Editar
                              a.btn(href="javascript:;" class="delete-regex") Excluir
                              //- a.btn(href="javascript:;" class="change-regex") Desativar
                              a.btn(href="javascript:;" class="regex-save") Ok
                              a.btn(href="javascript:;" class="regex-cancel") Cancel
                      .col-sm-10.controls
                        a.btn.save-settings
                          | Salvar alterações

                #profile.tab-pane(role='tabpanel')
                  .head-card
                    //- h1 Chaves de acesso      
                    div
                      //- input.form-control(type="text", value="#{user.key}")
                      pre #code...



                #messages.tab-pane(role='tabpanel') ...
                #settings.tab-pane(role='tabpanel') ...
