.container-fluid
  .main-head
    .container
      p  Análises 
    include ../profile-top.jade
  .side-body
    .container
      .card
        if debug
          pre #{JSON.stringify(scans)}
        if scans.length === 0
          div Theres no data
        else
          table(class="table table-hover sites-listing paginated")
            thead
              tr
                th #
                th URL
                th Execução
                th Ameaças
                th Concluído
                th Arquivos
                th Usuário
                //- th.options-hd Opções
            tbody
              //- if scans.length == 1

              each scan, i in scans
                //- div #{JSON.stringify(scan)}
                tr(data-id="#{scan.id}")
                  td #{scan.id}
                  //- if !scan.parent_site
                  //-   td N/A
                  //- else
                  td #{ JSON.parse( scan.parent_site ).url }
                  td #{scan.date}
                  td #{scan.result.length}
                  td.percent-analisys #{scan.percent} %
                  td.file-analisys #{scan.file}
                  td #{scan.user.name}
          div #{scans.length} análises.