.container-fluid
  .main-head
    .container
      p.default-title  Sites 
    include ../profile-top.jade
  div.m-title
    p Site
  .side-body
    .container
      .card
        .row
          .col-sm-12
            .head-card
              //- h1 Blacklist
              div.blacklist-form
                .col-sm-10

                  input.form-control(type="text", pladeholder="http://site.com/")
                .col-sm-2

                  a.blacklist-scan.btn Scan