.container-fluid
  .main-head
    .container
      p.default-title  Perfil 
    include ../profile-top.jade
  div.m-title
    p Perfil 
  .side-body
    .container
      .card
        .row
          if debug
            div #{JSON.stringify(user)}

          .col-sm-2
            .head-card
              .profile-avatar
                img(src="#{user.profile_picture.replace('50', '100')}")
              //- .user-name
              //-   span #{user.name}
              .user-meta
                .user-since
                  span
                    i.ion.ion-person
                    .user-info #{user.name}
                .user-sites
                  span
                    i.ion.ion-android-globe
                    .user-counter #{sites.length}
                .user-scans
                  span
                    i.ion.ion-ios-pie
                    .user-counter 5
                .user-email
                  span
                    i.ion.ion-at
                    .user-info #{user.email}
          .col-sm-10    
            div
              // Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                  a(href='#home', aria-controls='home', role='tab', data-toggle='tab') 
                    i.ion.ion-ios-world-outline
                    |  Sites
                li(role='presentation')
                  a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') 
                    i.ion.ion-key
                    |  Chaves de acesso
                //- li(role='presentation')
                //-   a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
                //- li(role='presentation')
                //-   a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
              // Tab panes
              .tab-content
                #home.tab-pane.active(role='tabpanel')
                  //- .col-sm-10    
                  .head-card
                    //- h1 Ultimas análises      
                    //- pre #{JSON.stringify(sites)}
                    if sites.length === 0
                      div Você não cadastrou nenhum website.
                    else
                      table(class="table table-hover sites-listing paginated")
                        thead
                          tr
                            th #
                            th URL
                            th Desde
                            th Usuário
                            //- th.options-hd Opções
                        tbody
                          //- if scans.length == 1

                          each scan, i in sites
                            tr(data-id="#{scan.id}")
                              td #{scan.id}
                              td #{scan.url}
                              td #{scan.dateParsed}
                              td #{user.name}
                      div #{sites.length} sites.
                #profile.tab-pane(role='tabpanel')
                  .head-card
                    //- h1 Chaves de acesso      
                    div
                      //- input.form-control(type="text", value="#{user.key}")
                      pre.key-raw #{user.key}
                        .copy
                      //- h3 API integração/implementação
                      //- p Abaixo iremos ver como é fácil usar nossa interface para uma implementação personalizada utilizando HTTP.

                #messages.tab-pane(role='tabpanel') ...
                #settings.tab-pane(role='tabpanel') ...


