.container-fluid
  .main-head
    .container
      p  Análises 
    include ../profile-top.jade
  .side-body
    .container
      .breadcrumbs
        a(href="/" )  Home 
        i.ion.ion-chevron-right  
        a(href="/site/#{site.hash}" )  #{site.url} 
        i.ion.ion-chevron-right  
        span  Relatório
      .card
        if debug
          //- pre #{JSON.stringify(scan[0].result)}
        if scan[0].result.length === 0
          div Theres no data
        else
          table(class="table table-hover sites-listing paginated")
            thead
              tr
                th File
                th Ameaças
                th Detalhes

            tbody
              each result, i in scan[0].result
                tr
                  //- div 

                  td(class="#{result.threat.length > 2 ? 'danger-file' : ''}") #{result.file}
                    div.detail
                      div.report-yeld
                        h2 #{result.file}
                        each threat in result.threat
                          div.block

                            div.type #{threat.type}
                            
                            div.threat #{threat[0]}
                            div.matches #{threat.matches[0]}
                            div.line Line 
                              strong #{threat.at}
                            div.regex #{new RegExp( threat.regex, 'g')}
                  td #{result.threat.length}
                  td 
                    a.show-detail(href="javascript:;") Detalhes
          div #{scan[0].result.length} Ameaças.