.container-fluid
  .main-head
    .container
      p.default-title  Sites 
    include ../profile-top.jade
  div.m-title
    p Site #{res.url}
  .side-body
    .container
      .card
        .row
          .col-sm-6
            .head-card
              h1 Análises
              //- if debug
              //-   div #{JSON.stringify(scans.length)}
              //-   div #{JSON.stringify(scans)}
            div.table-holder
              table.table(class="table-hover table-analysis paginated")
                thead
                  th #
                  th Iniciado em
                  th N Arquivos
                  th N de ameaças
                  th OPT
                tbody
                  each scan in scans
                    //- pre #{scan.result}
                    tr(id="")
                      td #{scan.id} 
                      td #{scan.date} 
                      //- td #{scan.user} 
                      td #{JSON.parse(scan.meta).length} 
                      if scan.result
                        td #{JSON.parse( scan.result ).length} 
                      else
                        td N/A
                      td
                        a(href="/site/#{res.hash}/#{scan.id}", title="Visualisar relatório").btn-view-internal.tooltip-aria
                          i.ion.ion-eye
          .col-sm-6
            .head-card
              h1 Detalhes
            .table-holder
              table.table(class="table-hover")
                thead
                  th url
                  th desde
                  th owner
                tbody
                  tr
                    td #{res.url} 
                    td #{res.date} 
                    td #{res.user} 
          .col-sm-12
            .head-card
              h1 Console output
            .term(id="output-#{res.hash}")
              pre#output
