.container-fluid
  .main-head
    .container
      p  Sites 
    include ../profile-top.jade
  .side-body
    #edit-site.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4.modal-title 
              |  Editar site 
              strong#site-title
          |       
          .modal-body
            div.field
              label(for="site-0url") Site URL
              input(type="text" class="form-control", id="site-url")
            div.field
            
              label(for="stux-0file") Stux File
              input(type="text" class="form-control", disabled, id="stux-file")
            div.field            
              label(for="current-0state") Estado
              div
                input(type="radio", name="site-state", value="1") 
                span  Ativo
                div
                input(type="radio", name="site-state", value="0") 
                span  Inativo
          |       
          .modal-footer
            button.btn.btn-cancel(type='button', data-dismiss='modal') Cancelar
            |         
            button.btn.save-site-changes(type='button') Salvar alterações

    #confirm-delete.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4.modal-title 
              |  Atenção
          |       
          .modal-body
            p
              | A exclusão do site irá criar um efeito em cascata excluíndo todos os dados relacionados à ele, essa ação não pode ser desfeita.

            p Insira a url do site abaixo para confirmar.
            input(class="form-control", id="delete-site-value")
          |       
          .modal-footer
            button.btn.btn-cancel(type='button', data-dismiss='modal') Voltar
            |         
            button.btn.confirm-delete(type='button', disabled) Excluir este website
   
    .container
      .card
        if sites.length == 0
          div.no-sites
            p Você ainda não adicionou nenhum site.
            a.btn.btn-sec(href="/site/add")
              | Adicionar site
        else   
          table(class="table table-hover sites-listing ")
            thead
              tr
                th Conectado
                th URL
                th Ativo
                th Estado
                th.options-hd Opções
            tbody
              if debug
                pre #{JSON.stringify(sites)}            
              each site, i in sites
                //- div #{JSON.stringify(site)}
                tr(id="progress-#{site.hash}")
                  td.state
                    if site.connected !== false
                      i.ion.ion-android-cloud-done.tooltip-aria(title="Conectado")
                    else
                      i.ion.ion-android-cloud-outline.tooltip-aria(title="Conexão não estabelecida")
                  td.site-url
                    a(href="/site/#{site.hash}", target="") #{site.url}
                  td.active
                    if site.active == '1' 
                      i(class="ion ion-android-checkmark-circle")
                    else
                      i.ion(class="ion-close-round")  
                  td 
                    if site.state === "" || site.state == 'NULL'
                      span.state-caption 
                        | Aguardando
                      div.waiting.s-hide
                        div.bar
                          div.progress-fill
                    if site.state === "vulnerable"
                      span.state-caption 
                        | Vulnerável
                    if site.state === "working"
                      div.waiting
                          div.bar
                            div.progress-fill
                  td.options
                    a(href="#", title="Editar site", data-index="#{i}").tooltip-aria.edit-site-call
                      i.ion(class="ion-compose")
                    a(href="#", title="Excluir", data-index="#{i}").tooltip-aria.delete-site-call 
                      i.ion.ion-android-delete
                    if site.state === "working"
                      a(href="/site/#{site.hash}", title="Visualisar andamento").btn-view.tooltip-aria
                        i.ion.ion-eye
                      a(href="#", data-hash="#{site.hash}").scan.btn-scan.btn-view.s-hide
                        i.ion.ion-pinpoint
                    else
                      if site.connected !== false
                        a(href="/site/#{site.hash}").btn-view.s-hide
                          i.ion.ion-eye
                        a(href="#", data-hash="#{site.hash}", title="Iniciar scanner").scan.tooltip-aria.btn-scan
                          i.ion.ion-pinpoint
                      else
                        a(href="/site/#{site.hash}").btn-view.s-hide
                          i.ion.ion-eye
                        a(href="#", data-hash="#{site.hash}", title="Site desconectado").scan.disconnected-scan.tooltip-aria
                          i.ion.ion-alert-circled

